*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('./assets/image/admin-bg.jpeg');
  background-position: center;
  background-size: cover;
  
}
header{
  text-align: center;
  margin-top: 2rem;
  color: white;
}
.navBox{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
nav a{
  color: white;
  font-weight: 900;
  font-size: 5em;
  text-decoration: none;
    cursor: pointer;


}
